:root {
  --color-header: rgba(186, 195, 201, 1); /* BAC3C9 */
  --color-navbar: rgba(26, 45, 59, 1); /* 1A2D3B */
  --color-footer: rgba(14, 34, 40, 1); /* 0E2228 */
  --color-text: rgba(254, 254, 254, 1); /* FEFEFE */
  --color-background: rgba(16, 40, 49, 1); /* 102831 */
  --color-overlay: rgba(4, 17, 23, 1); /* 041117 */
  --color-border: rgba(133, 147, 144, 1); /* 859390 */
  --color-card: rgba(228, 234, 236, 1); /* E4EAEC */
}
:root {
  --font-family-primary: serif; /* Fuente primaria */
  --font-family-secondary: 'Helvetica', sans-serif; /* Fuente secundaria */
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
}
/* todo los estilos para el header*/
header{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: fixed;
  background: var(--color-header);
  color: var(--color-text);
  border-bottom: 2px solid var(--color-border);
  font-family: var(--font-family-primary);
  font-style: italic;
}
/* iconos del lado izquierdo*/
.contenedor{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 15px;
 padding: 0 10px;
}
.boton-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 25px;
  font-weight: 12;
  border-radius: 6px;
  width: 33px;
  height: 33px;
  border: 1px solid var(--color-border);
}
.contenedor i{
  font-size: 25px;
}
/* estilo lado derecho le puse izquierda pero es derecho*/
.izquierdo{
  width: auto;
 display: flex;
 justify-content: space-between ;
 align-items: center;
 gap: 10px;
 padding: 0 10px;
  
}
label img{
  display: flex;
  align-items: center;
  width:  33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid var(--color-border);
}
img{
  display: flex;
  align-items: Center ;
  justify-content: center;
}
  .izquierdo button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background: var(--color-header);
  border: 1px solid var(--color-border);
  border-radius: 6px;
}
/* barras laterales*/
.barras{
  display: flex;
  justify-content: space-between ;
  width: 100% ;
  height: 100%;
}
/* barra izquierda*/
.izquierda-barra{
  position: fixed;
  top: 0;
  left: -350px; 
  width: 300px;
  height: 100%;
  background: var(--color-navbar);
  color: #090909;
  transition: left 0.3s ease;
  z-index: 20;
}

#izquierda:checked ~ .barras .izquierda-barra {
  left: 0; 
}

.cerrar-barra-izquierda{
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
.izquierda-barra label{
  padding: 0 15px;
  cursor: pointer;
  font-size: 25px;
  color: #15BA61;
  transition: all 0.3s ease;
  outline: none;
}
.izquierda-barra label:hover{
 
 margin-right: 12px;
  padding: 0 15px;
  font-size: 25px;
  border-radius: 12px;
  color: #D90F41;
  background-color: transparent;
}
.cerrar-barra-izquierda i{
  padding: 0 20px;
  font-size: 25px;
}

.navegacion{
  padding: 0 15px;
  text-decoration: none;
}
.navegacion ul{
  margin: 0;
}
.navegacion li{
  display: flex;
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  list-style-type: none;
  color: #FFFFFF;
}

.navegacion li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.navegacion li a span{
  margin-left: 10px;
}

.navegacion li:hover{
  width: 100%;
  border-radius: 12px;
  background: var(--color-overlay);
  color: #000;
  border: 1px solid #ffffff;
}
/* ;barra del lado derecho*/
#derecha:checked ~ .barras .derecha{
  right: 0;
}

.derecha{
  position: fixed;
  top: 0;
  right: -350px;
  width: 300px;
  height: 100%;
  background: var(--color-navbar);
  color: var(--color-text);
  z-index: 10;
  transition: all 0.4s ease-out;
  
}
.usuario{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border: 1px solid #542213;
}
.usuario img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 0 0 8px;
  border: 1px solid red;
  padding: 0;
}
.usuario h3{
  border: 1px solid #ffffff;
  display: flex;
  height: 50px;
  align-items: center;
  font-weight: 100;
  font-size: 20px;
 margin-right: 60px;
}
.usuario label{
  border: 1px solid #ffffff;
 margin: 0 10px;
}

 

