* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: initial;
}
html{
 position: fixed no repeat;
 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  background: conic-gradient(from 0deg, #1A2d3b, #0E2228, #102831, #041117, #1A2d3b);
  color: #FBF1F1;
}
body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0deg, #1A2d3b, #0E2228, #102831, #041117, #1A2d3b);
  color: #FBF1F1;
  z-index: -1; 
}

.teofilo {
 
  width: 400px;
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(80px);
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.37); 
  transition: all 0.3s ease; 
}
.teofilo:hover{
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.1);
}

.register {
  display: flex;
  flex-direction: column;
}
h2{
  font-size: 2.2rem;
  margin-bottom: 25px;
  color: #ffffff;
  letter-spacing: 1px;
  
}
.teofilo a:hover{
  text-decoration: underline;
}
button{
  
  background-color: #1A2d3b;
  color: aqua;
  font-weight: 600;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  margin-top: 30px;
}
button:hover{
  color: #000000;
  background: rgba(179, 212, 203, 1);
  border-color: #ffffff;
}
.inicio{
  display: flex;
  justify-content: space-around;
  
  
}
.inicio a:hover{
  color: antiquewhite;
  text-decoration: none;
}
.inicio a{
color: green;
text-decoration: none;
}
.inicio span{
  margin-right: 60px;
  padding: 0;
}
.input{
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255,0.3);
  margin: 20px 0;
  padding: 0;
}
.input label{
  position: absolute;
  margin-bottom: 5px;
  left: 0;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3 ease;
}
.input input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  padding-top:15px;
  padding-left: 10px;
}
.input input:focus~label,
.input input:valid~label{
  font-size:0.9rem;
  top: 10px;
  transform: translateY(-150%);
  color: #ffdde1;
}



.option{
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 0 0;
  margin-bottom: 30px;
  color: #ffffff;
  padding-top: 20px;
  
  
}
.option label{
  position: absolute;
  margin-bottom: 50px;
}
.option select {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #ffffff;
padding-top: 7px;
  border-bottom: 2px solid rgba(255, 255, 255,0.3);
}
